/* Google Fonts - Figtree */
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap");

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

#container {
  background-color: var(--white);
  border: 1px solid var(--gray-950);
  border-radius: 1rem;
  padding: 1.5rem;
  max-width: 375px;
  box-shadow: 8px 8px 0px var(--gray-950);
}

#container img:first-child {
  width: 100%;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.btn_learning {
  background-color: var(--yellow);
  color: var(--gray-950);
  font-weight: 800;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 0.9rem;
  color: var(--gray-950);
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: var(--gray-950);
}

p {
  font-size: 1rem;
  color: var(--gray-500);
  margin-bottom: 1.5rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.author img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 12px;
}

.author span {
  font-weight: 800;
  color: var(--gray-950);
  font-size: 0.9rem;
}

.attribution {
  position: absolute;
  bottom: 10px;
  font-size: 0.75rem;
  text-align: center;
  color: var(--gray-950);
}
